<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->
<head>
    <meta charset="utf-8">
    <title>ZoneApple-admin</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assetsb/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="assetsb/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <%- include("../partials/aside")%>
    <main class="main-wrap">
        <%- include("../partials/header2")%>
        <section class="content-main">
            <div class="row justify-content-center">
                <div class="col-9">
                    <div class="content-header" style="justify-content: center;">
                        <h2 class="content-title"><%= product.name %></h2>
                        <div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" style="width: 80%;">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Basic</h4>
                    
                        <div class="card-body">
                           <form>
                                <div class="mb-4">
                                    
                                  <!-- <img src="/public/productImages/<%= product.productImages[0]%>" style="width:200px" alt="hello"> -->
                                  <% if (product.productImages.length > 0) { %>
                                    <div class="image-container">
                                      <div class="row">
                                        <% for (let i = 0; i < product.productImages.length; i++) { %>
                                          <div class="col-md-3">
                                            <img src="/public/productImages/<%= product.productImages[i] %>" class="img-fluid" alt="Image <%= i + 1 %>">
                                          </div>
                                        <% } %>
                                      </div>
                                    </div>
                                  <% } else { %>
                                    <p>No images available for this product.</p>
                                  <% } %>
                                  
                                <br>
                            </div>

                           
                                
                                <div class="row" display="d-flex" style="justify-content: space-around;">
                                <div class="card" style="width: 18rem;">
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label"><h6>Product name</h6></label><br>
                                       <p ><%= product.name %></p>
                                    </div>
                                    <div class="mb-4">
                                        <label for="category" class="form-label"><h6>Category</h6></label><br>
                                        <p ><%= product.category %></p>
    
                                    </div>
                                  </div>
                                  
                                  <div class="card" style="width: 18rem;">
                                        <div class="mb-4">
                                            <label class="form-label"><h6>Regular Price</h6></label><br>
                                            <div class="row gx-2">
                                                <p ><%= product.price%></p>
                                            </div>
                                        </div>

                                        <div class="mb-4">
                                            <label class="form-label"><h6>Discount price</h6></label><br>
                                            <% if (product.discountPrice < 0) { %>
                                                <p> offer not added</p>
                                            <% } else { %>
                                                <p><%=Math.floor(product.discountPrice) %></p>
                                            <% } %>
                                        </div>
                                        
                                  </div>
                                  
                                  <div class="card" style="width: 18rem;">
                                    <div class="mb-4">
                                        <label class="form-label"> <h6>Quantity</h6></label><br>
                                        <p > <%= product.quantity%></p>
                                    </div>

                                    <div class="mb-4">
                                        <label class="form-label"><h6>Battery</h6></label><br>
                                        <p ><%= product.battery%></p>
                                    </div>
                                  </div>


                                  <div class="card" style="width: 18rem;">
                                    <div class="mb-4">
                                        <label class="form-label"><h6>Product color</h6></label><br>
                                        <p><%= product.productColor%></p>
                                    </div>

                                    <div class="mb-4">
                                        <label class="form-label"><h6>Ram</h6></label><br>
                                        <p ><%= product.ram%></p>
                                    </div>
                                  </div>

                                  <div class="card" style="width: 18rem;">
                                    <div class="mb-4">
                                        <label class="form-label"><h6>Rom</h6></label><br>
                                        <p ><%= product.rom%></p>
                                    </div>

                                    <div class="mb-4">
                                        <label class="form-label"><h6>Expandable</h6></label><br>
                                        <p><%= product.expandable%></p>
                                    </div>
                                  </div>

                                  <div class="card" style="width: 18rem;">
                                    <div class="mb-4">
                                        <label class="form-label"><h6>FrondCam</h6></label><br>
                                        <p><%= product.frontCam%></p>
                                    </div>

                                    <div class="mb-4">
                                        <label class="form-label"><h6>rear Cam</h6></label>
                                        <p ><%= product.rearCam%></p>
                                </div>
                                  </div>

                                  <div class="card" style="width: 18rem;">
                                    <div class="mb-4">
                                        <label class="form-label"><h6>Processor</h6></label>
                                        <p ><%= product.processor%></p>
                                    </div>

                                  </div>
                                  
                                  </div> <!---->

                                <div>
                                </div>
                            </form>
                        </div>
                    </div> 
                    
                        </div>
                    </div> <!-- card end// -->
                </div>
            </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="assetsB/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assetsB/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assetsB/js/vendors/select2.min.js"></script>
    <script src="assetsB/js/vendors/perfect-scrollbar.js"></script>
    <script src="assetsB/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="assetsB/js/main.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->
</html>