<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:06 GMT -->
<head>
    <meta charset="utf-8">
    <title>ZoneApple</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    <%- include("../partials/header")%>
    <%- include("../partials/mobileHeader")%>

   


    <main class="main">
      
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Checkout
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
           
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-sm-15">
                        
                        <div class="panel-collapse collapse login_form" id="loginform">
                            <div class="panel-body">
                                <p class="mb-30 font-sm">If you have shopped with us before, please enter your details below. If you are a new customer, please proceed to the Billing &amp; Shipping section.</p>
                                <form method="post">
                                    <div class="form-group">
                                        <input type="text" name="email" placeholder="Username Or Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" placeholder="Password">
                                    </div>
                                    <div class="login_footer form-group">
                                        <div class="chek-form">
                                            <div class="custome-checkbox">
                                                <input class="form-check-input" type="checkbox" name="checkbox" id="remember" value="">
                                                <label class="form-check-label" for="remember"><span>Remember me</span></label>
                                            </div>
                                        </div>
                                        <a href="#">Forgot password?</a>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-md" name="login">Log in</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row"> 
                </div>
             
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-25 card>
                            <h4 style="margin: 0;"></h4>
                            <% if (address.length > 0) {
                                for (let i = 0; i < address.length; i++) { %> 
                            <div class="card-body border" >
                                <input class="form-check-input" type="radio"   required name="address" id="<%= address[i].name%>" value="<%= address[i]._id%>"/>
                               
                                <p><%=address[i].houseName%></p>
                                <p><%=address[i].phone%></p>
                                <p><%=address[i].street %></p>
                                <p><%=address[i].city%></p>
                                <p><%=address[i].state %></p>
                                <p><%=address[i].pinCode%></p>
                            </div><br><br>
                            <% } 
                            } %>
                            <a class="btn btn-outline-primary-2 btn-order btn-block" href="/addAddresscheckOut">Add New Address</a>
                        </div>
                        </div>


                        

                    <div class="col-md-6">
                        <div class="order_review">
                            <div class="mb-20">
                                <h4>Your Orders</h4>
                            </div>
                            <div class="table-responsive order_table text-center row d-flex">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for (let i = 0; i < cart.length; i++) { %>
                                        <tr>
                                            <td class="image product-thumbnail"><img src="/public/productImages/<%= cart[i].product.productImages[3] %>" alt="#"></td>
                                            <td>
                                                <h5><a href="shop-product-full.html"><%=cart[i].product.name%></a></h5> <span class="product-qty">x<%=cart[i].quantity %></span>
                                            </td>
                                            <td><%= producttotal[i]%></td>
                                        </tr>
                                        <% } %>
                                       
                                        
                                        <tr>
                                            <th>SubTotal</th>
                                            <td class="product-subtotal" colspan="2"><%=subtotal%></td>
                                        </tr>
                                        <tr>
                                            <th>Shipping</th>
                                            <td colspan="2"><em>100</em></td>
                                        </tr>
                                        <tr>
                                            <th>Total</th>
                                            <td colspan="2" id="order-total" class="product-subtotal"><%=subtotalWithShipping%></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div style="height: 20px;">
                                <p class="text-center" id="couponInfo" style="color: #188bff;"></p>
                            </div>
                            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                            <div class="payment_method">
                                <div class="mb-25">
                                    <h5>Payment</h5>
                                </div>
                                <div class="payment_option">
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment"  value="cash on Delivery" id="cod">
                                        <label class="form-check-label" for="cod" data-bs-toggle="collapse" data-target="#cashOnDelivery" aria-controls="cashonDelivery">Cash on Delivery</label>
                                        
                                        
                                    </div>
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment"  value="OnlinePayment" id="onlinePayment">
                                        <label class="form-check-label" for="onlinePayment" data-bs-toggle="collapse" data-target="#onlinePayment" aria-controls="onlinePayment">Online Payment</label>
                                    </div>
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment"  value="walletPayment" id="walletPayment">
                                        <label class="form-check-label" for="walletPayment" data-bs-toggle="collapse" data-target="#walletPayment" aria-controls="walletPayment">Wallet Payement</label>
                                    </div>
                                    
                                </div>

                                
                            </div>


         

                         <div class="caption" id="couponApply">
                                                  <div>
                                                        <input class="form-control" type="text" name="couponCode"
                                                            placeholder="Enter your coupon code" id="couponCodeInput"><br>
                                                        <button class="btn btn-outline-primary-2 btn-order btn-block "
                                                            id="applyCouponButton"> Apply</button>
                                                    </div><br> -
                                                    <!-- <a href="/availableCoupons">View Available Coupons</a> -->

                                                                       <!-- Button trigger modal -->
<a  data-toggle="modal" data-target="#exampleModal"> view available coupon</a>

  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">available coupons</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <% if (coupon.length > 0) {
                for (let i = 0; i < coupon.length; i++) { %> 

                    <p><b><%=coupon[i].code%></b></p>

                    <% } 
                } %>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

                                                </div>
                                                <div class="coupon applied" id="couponApplied" style="display: none;">
                                                    <div>
                                                        <input class="form-control" type="text" name="couponCode"
                                                            placeholder="Enter your coupon code" 
                                                            style="visibility: hidden;">
                                                        <button class="btn btn-succes  btn-block" disabled> Coupon Applied
                                                            successfully</button>
                                                    </div>
                                                    <a href="/checkout">Remove applied Coupied</a>
                                                </div>

                                                <button id="placeOrderButton" class="btn btn-primary btn-order btn-block mt-5" style="display:none">PLACE
                                                    ORDER</button>
                                                <button id="razorPayButton"
                                                    class="btn btn-primary btn-order btn-block mt-5" style="display: none;">ONLINE
                                                    PAYMENT</button>



                                                <button id="walletButton"
                                                    class="btn btn-primary btn-order btn-block mt-5" style="display: none;">WALLET
                                                    PAY</button>
                        </div>
                    </div>

                   
                </div>
            

            </div>
      
        </section>
    </main>
    <footer class="main">
        <section class="newsletter p-30 text-white wow fadeIn animated">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 mb-md-3 mb-lg-0">
                        <div class="row align-items-center">
                            <div class="col flex-horizontal-center">
                                <img class="icon-email" src="assets/imgs/theme/icons/icon-email.svg" alt="">
                                <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                            </div>
                            <div class="col my-4 my-md-0 des">
                                <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>$25 coupon for first shopping.</strong></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <!-- Subscribe Form -->
                        <form class="form-subcriber d-flex wow fadeIn animated">
                            <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
                            <button class="btn bg-dark text-white" type="submit">Subscribe</button>
                        </form>
                        <!-- End Subscribe Form -->
                    </div>
                </div>
            </div>
        </section>








        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <a href="index.html"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">About</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Order</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="widget-title wow fadeIn animated">Install App</h5>
                        <div class="row">
                            <div class="col-md-8 col-lg-12">
                                <p class="wow fadeIn animated">From App Store or Google Play</p>
                                <div class="download-app wow fadeIn animated">
                                    <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active" src="assets/imgs/theme/app-store.jpg" alt=""></a>
                                    <a href="#" class="hover-up"><img src="assets/imgs/theme/google-play.jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                                <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                                <img class="wow fadeIn animated" src="assets/imgs/theme/payment-method.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container pb-20 wow fadeIn animated">
            <div class="row">
                <div class="col-12 mb-20">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-lg-6">
                    <p class="float-md-left font-sm text-muted mb-0">&copy; 2021, <strong class="text-brand">Evara</strong> - HTML Ecommerce Template </p>
                </div>
                <div class="col-lg-6">
                    <p class="text-lg-end text-start font-sm text-muted mb-0">
                        Designed by <a href="http://alithemes.com/" target="_blank">Alithemes.com</a>. All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/shop.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<!-- modal  JS -->
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script>
        const codRadio = document.getElementById('cod');
        const onlinePaymentRadio = document.getElementById('onlinePayment');
        const walletPaymentRadio = document.getElementById('walletPayment');
    
        const placeOrderButton = document.getElementById('placeOrderButton');
        const razorPayButton = document.getElementById('razorPayButton');
        const walletButton = document.getElementById('walletButton');
    
        function updateButtonVisibility() {
            placeOrderButton.style.display = codRadio.checked ? 'block' : 'none';
            razorPayButton.style.display = onlinePaymentRadio.checked ? 'block' : 'none';
            if (walletPaymentRadio) {
                walletButton.style.display = walletPaymentRadio.checked ? 'block' : 'none';
            }
        }
    
        codRadio.addEventListener('change', updateButtonVisibility);
        onlinePaymentRadio.addEventListener('change', updateButtonVisibility);
        if (walletPaymentRadio) {
            walletPaymentRadio.addEventListener('change', updateButtonVisibility);
        }
        document.addEventListener('DOMContentLoaded', function () {
            const placeOrderButton = document.getElementById('placeOrderButton');
            const applyCouponButton = document.getElementById('applyCouponButton');
            const couponCodeInput = document.getElementById('couponCodeInput');
            const orderTotalElement = document.getElementById('order-total');
            const couponInfo = document.getElementById('couponInfo');
            const codButton = document.getElementById('cod');
            const captionDiv = document.getElementById('couponApply');
            const couponAppliedDiv = document.getElementById('couponApplied');

            razorPayButton.addEventListener('click', function () {
                const couponCode = couponCodeInput.value;
                const couponApplied = couponInfo.innerText.includes('Coupon Discount Applied');

                if (couponCode.trim() !== '' && !couponApplied) {

                    alert('Please apply the coupon before placing the order.');
                    couponCodeInput.value = '';
                    return;
                }
                placeOnline('Pay online', couponCode);
            });


            applyCouponButton.addEventListener('click', async function (event) {
                event.preventDefault();
                const couponCode = couponCodeInput.value;

                if (couponCode.trim() === '') {
                    alert('Please enter a coupon code');
                    return;
                }

                try {
                    const response = await fetch('/applyCoupon', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ couponCode }),
                    });

                    if (!response.ok) {
                        throw new Error('Coupon application failed');
                    }

                    const data = await response.json();

                    console.log(data);

                    if (data.errorMessage) {
                        alert('Coupon error: ' + data.errorMessage);
                        couponCodeInput.value = ''
                    } else {

                        const discountedTotal = data.discountedTotal;
                        const normalPrice = parseFloat(orderTotalElement.innerHTML.replace("₹", ""));
                        const difference = (normalPrice - discountedTotal-100).toFixed(0);


                        couponInfo.innerText = `Coupon Discount Applied ₹${difference} off`;
                        orderTotalElement.innerText = `₹${discountedTotal}`;
                        alert("Coupon applied successfully");

                        captionDiv.style.display = 'none';
                        couponAppliedDiv.style.display = 'block';
                    }

                } catch (error) {
                    console.error('Error applying coupon:', error);
                    alert('Invalid coupon ');
                    couponCodeInput.value = ''
                }
            });


            placeOrderButton.addEventListener('click', function () {
                const couponCode = couponCodeInput.value;
                const couponApplied = couponInfo.innerText.includes('Coupon Discount Applied');

                if (couponCode.trim() !== '' && !couponApplied) {

                    alert('Please apply the coupon before placing the order.');
                    couponCodeInput.value = '';
                    return;
                }
                placeOrder('Cash on delivery', couponCode);
            });


            function placeOrder(paymentMethod, couponCode) {
                const selectedAddress = document.querySelector('input[name="address"]:checked');

                if (!selectedAddress) {
                    alert('Please select an address.');
                    return;
                }

                const address = selectedAddress.value;

                const requestData = {
                    address: address,
                    paymentMethod: paymentMethod,
                    couponCode: couponCode
                };

                fetch('/cashondelivery', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(requestData),
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            window.location.href = '/orderPlaced';
                        } else {
                            alert('Error occurred while placing order: ' + data.message);
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert('Error occurred while placing order: ' + error.message);
                    });
            }





            //razorpay button


            function placeOnline(paymentMethod, couponCode) {






                const selectedAddress = document.querySelector('input[name="address"]:checked');

                if (!selectedAddress) {
                    alert('Please select an address.');
                    return;
                }

                const address = selectedAddress.value;

                const requestData = {
                    address: address,
                    paymentMethod: paymentMethod,
                    couponCode: couponCode
                };

                fetch('/razorpayOrder', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(requestData),
                })
                    .then((response) => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error('Network response was not ok');
                        }
                    })
                    .then((data) => {
                        if (data && data.order) {
                            const order = data.order;
                            const orderId = order.id;
                            const amount = order.amount;

                            var options = {
                                key: 'rzp_test_h5Hjivllk0VNGW',
                                amount: amount * 100,
                                currency: "INR",
                                name: "ZoneApple",
                                description: "Test Transaction",
                                image: "",
                                order_id: orderId,
                                handler: function (response) {

                                    if (response.razorpay_payment_id) {
                                        alert('Payment successful!');

                                        const updatePaymentStatusEndpoint = '/updatePaymentStatus';
                                        const updatePaymentStatusData = {
                                            orderId: orderId,
                                            paymentId: response.razorpay_payment_id,
                                            status: 'Payment Successful',
                                        };

                                        fetch(updatePaymentStatusEndpoint, {
                                            method: 'POST',
                                            headers: {
                                                'Content-Type': 'application/json',
                                            },
                                            body: JSON.stringify(updatePaymentStatusData),
                                        })
                                            .then((updateResponse) => {
                                                if (updateResponse.ok) {
                                                    console.log('Payment status updated successfully.');
                                                    window.location.href = '/orderPlaced';
                                                } else {
                                                    console.error('Failed to update payment status.');
                                                }
                                            })
                                            .catch((error) => {
                                                console.error('Error updating payment status:', error);
                                            });
                                    } else {
                                        alert(response.error.code);
                                        alert(response.error.description);
                                        alert(response.error.source);
                                        alert(response.error.step);
                                        alert(response.error.reason);
                                        alert(response.error.metadata.order_id);
                                        alert(response.error.metadata.payment_id);
                                    }
                                },
                                prefill: {
                                    name: "ZoneApple",
                                    email: "zoneapple@gmail.com",
                                    contact: "7736571432"
                                },
                                notes: {
                                    address: "Razorpay Corporate Office"
                                },
                                theme: {
                                    color: "#3399cc"
                                }
                            };

                            var rzp1 = new Razorpay(options);


                            rzp1.open();
                            e.preventDefault();

                        }
                    })

                    .catch((error) => {
                        console.log('Fetch error:', error.message);
                    });
            }

        });



        walletButton.addEventListener('click', function () {
            const couponCode = couponCodeInput.value;
            const couponApplied = couponInfo.innerText.includes('Coupon Discount Applied');

            if (couponCode.trim() !== '' && !couponApplied) {

                alert('Please apply the coupon before placing the order.');
                couponCodeInput.value = '';
                return;
            }
            placeOrderWallet('wallet', couponCode);
        });

        function placeOrderWallet(paymentMethod, couponCode) {
            const selectedAddress = document.querySelector('input[name="address"]:checked');

            if (!selectedAddress) {
                alert('Please select an address.');
                return;
            }

            const address = selectedAddress.value;

            const requestData = {
                address: address,
                paymentMethod: paymentMethod,
                couponCode: couponCode
            };

            fetch('/walletpayment', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(requestData),
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        window.location.href = '/orderPlaced';
                    } else {
                        alert('Error occurred while placing order: ' + data.message);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Error occurred while placing order: ' + error.message);
                });
        }






    </script>

   
    
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:06 GMT -->
</html>












   
