<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:27:15 GMT -->
<head>
    <meta charset="utf-8">
    <title>ZoneApple</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    <%- include("../partials/header")%>
    <%- include("../partials/mobileHeader")%>

    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Pages
                    <span></span> Account
                </div>
            </div>
        </div>
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item">
                                        <a class="nav-link active" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>Account details</a>

                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab" href="#track-orders" role="tab" aria-controls="track-orders" aria-selected="false"><i class="fi-rs-shopping-cart-check mr-10"></i>Wallet Balance</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true"><i class="fi-rs-marker mr-10"></i>My Address</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="coupon-details-tab" data-bs-toggle="tab" href="#coupon-details" role="tab" aria-controls="coupon-details" aria-selected="false"><i class="fi-rs-shopping-cart-check mr-10"></i>Coupons</a>
                                        </li>
                                        <li class="nav-item">
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/logout"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="tab-content dashboard-content">
                                  
                                    <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Your Orders</h5>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Order Id</th>
                                                                <th>Date</th>
                                                                <th>Status</th>
                                                                <th>Total</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% if (order.length > 0) {
                                                                for (let i = 0; i < order.length; i++) { %> 
                                                            <tr>
                                                                <td><%=order[i].o_id %></td>
                                                                <td><%=order[i].orderDate.toDateString() %></td>
                                                                <td><%=order[i].status %></td>
                                                                <td><%=order[i].totalAmount%></td>
                                                                <td><a href="/orderDetails?orderId=<%=order[i]._id%>" class="btn-small d-block">View</a></td>
                                                            </tr>
                                                           
                                                            <% } 
                                                        } %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="track-orders" role="tabpanel" aria-labelledby="track-orders-tab">
                                        <div class="card">
                                            <div class="card-header" style="height: 155px">
                                                
                                                <center><h2 class="mb-0" style="color:#222222a8"> Your Wallet Balance</h2></center><br>

                                                <center>
                                                    <h3 class="mb-0" style="color:#222222a8">
                                                      <% if (user.walletBalance < 0) { %>
                                                        0₹
                                                      <% } else { %>
                                                        <%= user.walletBalance %>₹
                                                      <% } %>
                                                    </h3>
                                                  </center>

                                                  
                                                
                                                
                                            </div>
                                           
                                        </div>

                                        <table class="table">
                                            <thead>
                                              <tr>
                                                <th>Description</th>
                                                <th>Amount</th>
                                                <th>Type</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <% if (transaction && transaction.length > 0) { %>
                                                <% for (let i = 0; i < transaction.length; i++) { %> 
                                                  <tr>
                                                    <td>
                                                      <% const description = transaction[i].description.split(':'); %>
                                                      <% if(description.length > 1) { %>
                                                        <%= description[0]  %>
                                                        </span>
                                                      <% } else { %>
                                                        <%= transaction[i].description %>
                                                      <% } %>
                                                    </td>
                                                    <td><%= transaction[i].amount %></td>
                                                    <td style="color: <%= transaction[i].type === 'credit' ? 'green' : 'red' %>;">
                                                    <%= transaction[i].type %></td>
                                                  </tr>
                                                <% } %>
                                              <% } %>
                                            </tbody>
                                          </table>
                                          

                                          
                                          
                                    </div>


                                    <div class="tab-pane fade" id="coupon-details" role="tabpanel" aria-labelledby="coupon-details-tab" ">
                                        <center><h2 class="mb-0 " style="color:#222222a8">Available Coupons</h2></center><br>
                                        <div class="d-flex justify-content-space-between  mt-4 col-lg-12" style="flex-wrap: wrap;">
                                            <% if (order.length > 0) { %>
                                                <% for (let i = 0; i < coupon.length; i++) { %> 
                                                    <div class="card col-lg-4 col-md-4 mb-4 " style="height: 120px "> 
                                                        <div class="card-header" style="height: 155px">
                                                            <center>
                                                                <h3 class="mb-0 mt-4" style="color: #222222a8; text-align: -webkit-center;"><%= coupon[i].code %></h3>
                                                            </center>
                                                            <% if (coupon[i].expiry) { %>
                                                                <center>
                                                                    <p class="mb-0" style="color: #222222a8; text-align: -webkit-center;">Expire:<%= coupon[i].expiry.toDateString() %></p>
                                                                </center>
                                                            <% } %>
                                                            <p class="mb-0" style="color: #222222a8; text-align: -webkit-center;">Max Amount:<%= coupon[i].maxRedeemableAmt %></p>
                                                        </div>
                                                    </div>
                                                    <br>
                                                <% } %>
                                            <% } %>
                                            
                                    </div>
                                </div>
                                    <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                                        <div class="row">
                                         
                                            <div class="col-lg-6" style="width: 116%">
                                                <div class="card mb-3 mb-lg-0" >
                                                    <div class="card-header"style="height: 170px;">
                                                        <center><h4 class="mb-0"> Address</h4></center>
                                                        <center><p>Add your address Here</p></center>
                                                         <center><a class="btn btn-fill-out submit" href="/addAddress">Add Address</a></center>
                                                            
                                                        </div>

                                                    </div>
                                                    
                                                </div>
                                            
                                        </div><br><br>
                                        
                                        <% if (address.length > 0) {
                                            for (let i = 0; i < address.length; i++) { %> 
                                        <div class="card-header"style="height: 170px;">
                                            <h4></h4>Address<%=i+1 %></h4>
                                            <center><h5 class="mb-0"><%= address[i].name %></h5></center>
                                            <center><p><%= address[i].houseName %></p></center>
                                            <center><p><%= address[i].place %></p></center>
                                            <center><p><%= address[i].street%></p></center>
                                            <center><p><%= address[i].city%></p></center>
                                            <center><p><%= address[i].pin %></p></center>
                                            <center><p><%= address[i].phone %></p></center>
                                            <a style="color: red;position:relative;left:524px"   href="/deleteAddress?addressId=<%=address[i]._id%>">delete</a>

                                               
                                            </div><br>
                                            <% } 
                                        } %>
                                        <br>
                                        <br>
                                    </div>
                                    
                                    <div class="tab-pane fade active show" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Account Details</h5><br>
                                                <div class="d-flex" ms-7>
                                                    <div>
                                                        <% if (user.image) { %>
                                                            <img src="/public/userImages/<%= user.image %>" style="width: 60px;" alt="User Image">
                                                        <% } else { %>
                                                            <img src="/public/defaultAvatar.webp" style="width: 60px;" alt="Default Avatar">
                                                        <% } %>
                                                    </div>
                                                                                                
                                                <div class="ms-5">
                                                    <p><%=user.name%></p>
                                                    <p><%=user.email%></p>
                                                    <p><%=user.mobile%></p>
                                                    
                                                    <p>Refferral Code:<%=user.referralCode%></p>
                                                   
                                                   
                                                </div>
                                                <a class="btn btn-fill-out submit ms-5 " href="/editprofile"style="height: 44px;
                                                width: 137px" style="height: 44px;
    width: 137px">edit profile</a>
                                            </div></center>
                                               
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="main">
        <section class="newsletter p-30 text-white wow fadeIn animated">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 mb-md-3 mb-lg-0">
                        <div class="row align-items-center">
                            <div class="col flex-horizontal-center">
                                <img class="icon-email" src="assets/imgs/theme/icons/icon-email.svg" alt="">
                                <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                            </div>
                            <div class="col my-4 my-md-0 des">
                                <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>$25 coupon for first shopping.</strong></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <!-- Subscribe Form -->
                        <form class="form-subcriber d-flex wow fadeIn animated">
                            <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
                            <button class="btn bg-dark text-white" type="submit">Subscribe</button>
                        </form>
                        <!-- End Subscribe Form -->
                    </div>
                </div>
            </div>
        </section>
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <a href="index.html"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">About</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Order</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="widget-title wow fadeIn animated">Install App</h5>
                        <div class="row">
                            <div class="col-md-8 col-lg-12">
                                <p class="wow fadeIn animated">From App Store or Google Play</p>
                                <div class="download-app wow fadeIn animated">
                                    <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active" src="assets/imgs/theme/app-store.jpg" alt=""></a>
                                    <a href="#" class="hover-up"><img src="assets/imgs/theme/google-play.jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                                <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                                <img class="wow fadeIn animated" src="assets/imgs/theme/payment-method.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container pb-20 wow fadeIn animated">
            <div class="row">
                <div class="col-12 mb-20">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-lg-6">
                    <p class="float-md-left font-sm text-muted mb-0">&copy; 2021, <strong class="text-brand">Evara</strong> - HTML Ecommerce Template </p>
                </div>
                <div class="col-lg-6">
                    <p class="text-lg-end text-start font-sm text-muted mb-0">
                        Designed by <a href="http://alithemes.com/" target="_blank">Alithemes.com</a>. All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="assets/js/plugins/jquery.theia.sticky.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/main.js"></script>
    
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:27:15 GMT -->
</html>